.contactsec{
   
    padding: 2% 0%;
     text-align: center;
     margin-top:25%;
     background-color: #232323;
     border-top: 1px solid black;

      h1{
        color: white;
        font-size: 2.5rem;  
        font-weight: 700;
        &::after{
            content: "   ";
            display: block;
            height: 3px;
            width: 45px;
            background-color: #ff214f;
            margin: 0 auto;
        } 
      }
}
 .main-footer-sociallist{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none; 
            padding: 0;  

            li{
              margin: 0% 1%;
              cursor: pointer;
              &:hover i{
                  color: #ff214f;
                  
              }
            }
        }