@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
.homesec {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/pic1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

.homesec .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.homesec-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 70%;
  top: 50%;
  left: 2%;
  right: 2%;
  color: black;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Montserrat, sans-serif';
  text-align: center;
  text-transform: uppercase;
}

.homesec span {
  color: #ff214f;
}

.homesec button {
  background-color: transparent;
  border: 2px solid black;
  font-size: 1.5rem;
  padding: 1.5% 1%;
  cursor: pointer;
}

.homesec button:hover {
  background-color: black;
  color: white;
}

.icon {
  cursor: pointer;
}

.menu-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.95);
  top: 11vh;
  z-index: 1;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform  ease-in-out;
  transition: -webkit-transform  ease-in-out;
  transition: transform  ease-in-out;
  transition: transform  ease-in-out, -webkit-transform  ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-cont.open {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

.menu-cont .menu-list {
  width: 50%;
  margin: 8% auto;
  text-align: center;
  list-style: none;
  padding: 0;
}

.menu-cont .menu-list li:nth-child(1) {
  text-transform: uppercase;
  margin: 2% auto;
  font-size: 2rem;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: pointer;
  -webkit-transition: -webkit-transform  ease-in-out;
  transition: -webkit-transform  ease-in-out;
  transition: transform  ease-in-out;
  transition: transform  ease-in-out, -webkit-transform  ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-cont .menu-list li:nth-child(1).open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-cont .menu-list li:nth-child(1):hover {
  color: #ff214f;
}

.menu-cont .menu-list li:nth-child(2) {
  text-transform: uppercase;
  margin: 2% auto;
  font-size: 2rem;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: pointer;
  -webkit-transition: -webkit-transform  ease-in-out;
  transition: -webkit-transform  ease-in-out;
  transition: transform  ease-in-out;
  transition: transform  ease-in-out, -webkit-transform  ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-cont .menu-list li:nth-child(2).open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-cont .menu-list li:nth-child(2):hover {
  color: #ff214f;
}

.menu-cont .menu-list li:nth-child(3) {
  text-transform: uppercase;
  margin: 2% auto;
  font-size: 2rem;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: pointer;
  -webkit-transition: -webkit-transform  ease-in-out;
  transition: -webkit-transform  ease-in-out;
  transition: transform  ease-in-out;
  transition: transform  ease-in-out, -webkit-transform  ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-cont .menu-list li:nth-child(3).open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-cont .menu-list li:nth-child(3):hover {
  color: #ff214f;
}

.menu-cont .menu-list li:nth-child(4) {
  text-transform: uppercase;
  margin: 2% auto;
  font-size: 2rem;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: pointer;
  -webkit-transition: -webkit-transform  ease-in-out;
  transition: -webkit-transform  ease-in-out;
  transition: transform  ease-in-out;
  transition: transform  ease-in-out, -webkit-transform  ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-cont .menu-list li:nth-child(4).open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-cont .menu-list li:nth-child(4):hover {
  color: #ff214f;
}

.selected {
  color: #ff214f;
}

.aboutsec {
  text-align: center;
  padding: 4% 0%;
  color: #232323;
}

.aboutsec .sectitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.aboutsec .sectitle::after {
  content: "   ";
  display: block;
  height: 3px;
  width: 45px;
  background-color: #ff214f;
  margin: 0 auto;
}

.aboutsec p {
  margin: 0 auto;
  width: 70%;
  font-size: 1.3rem;
}

.projectsec {
  padding: 4% 0%;
  text-align: center;
}

.projectsec h1 {
  color: #232323;
  font-size: 2.5rem;
  font-weight: 700;
}

.projectsec h1::after {
  content: "   ";
  display: block;
  height: 3px;
  width: 45px;
  background-color: #ff214f;
  margin: 0 auto;
}

.card-cont {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1%;
}

.projectsec-card {
  position: relative;
}

.projectsec-card:hover .projectsec-canvas {
  height: 100%;
}

.projectsec-card:hover .projectsec-canvas button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectsec-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 0%;
  z-index: 1;
  background-color: rgba(255, 33, 79, 0.95);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.projectsec-canvas button {
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 1rem;
  width: 60%;
}

.projectsec-canvas button i, .projectsec-canvas button span {
  color: white;
  margin: 0% 1%;
}

.projectsec-card-content {
  width: 100%;
}

.projectsec-card-content img {
  width: 100%;
  height: 100%;
}

.contactsec {
  padding: 2% 0%;
  text-align: center;
  margin-top: 25%;
  background-color: #232323;
  border-top: 1px solid black;
}

.contactsec h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.contactsec h1::after {
  content: "   ";
  display: block;
  height: 3px;
  width: 45px;
  background-color: #ff214f;
  margin: 0 auto;
}

.main-footer-sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.main-footer-sociallist li {
  margin: 0% 1%;
  cursor: pointer;
}

.main-footer-sociallist li:hover i {
  color: #ff214f;
}

body {
  background-color: white;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 2;
  background-color: black;
}

header nav {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav div i {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #101010;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */