@import'config';
@mixin transition($duration) {
  transition: transform  ease-in-out;
  transition-duration: $duration
}
.icon{
    @include pointer;
}
.menu-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90vh;
  background-color: rgba($color: #000000, $alpha: 0.95);
  top: 11vh;
  z-index: 1;
  transform: translateY(-100vh);
  @include transition(0.5s);
  &.open {
  transform: translateY(0vh);
}
  .menu-list {
    width: 50%;
    margin: 8% auto;
    text-align: center;
    list-style: none;


    @for $i from 1 to 5{

        li:nth-child(#{$i}) {
      margin: 2% auto;
      font-size: 2rem;
       transform: translateX(100vw); 
       @include pointer;
      @include transition(0.7s);
      transition-delay: $i*0.1s;
        &.open {
  transform: translateX(0);
}
      &:hover{
           color: #ff214f;
      }
     
    }
    }

  
  }
}


.selected{
    color: #ff214f;
}
